body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  position:absolute;
  left:-9px;
  top:39px;
  width:948px;
  height:542px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:263px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:63px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  position:absolute;
  left:36px;
  top:64px;
  width:823px;
  height:63px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:24px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  position:absolute;
  left:36px;
  top:127px;
  width:823px;
  height:406px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:195px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2244 {
  position:absolute;
  left:66px;
  top:150px;
  width:775px;
  height:375px;
  font-size:20px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  word-wrap:break-word;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:53px;
}
#u2246 {
  position:absolute;
  left:50px;
  top:69px;
  width:78px;
  height:53px;
}
#u2247 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2248 {
  position:absolute;
  left:640px;
  top:422px;
  width:190px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2250 {
  position:absolute;
  left:37px;
  top:4px;
  width:359px;
  height:28px;
  font-size:20px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:94px;
}
#u2252 {
  position:absolute;
  left:511px;
  top:422px;
  width:99px;
  height:94px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:39px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:34px;
}
#u2254 {
  position:absolute;
  left:614px;
  top:417px;
  width:19px;
  height:34px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:9px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2256 {
  position:absolute;
  left:615px;
  top:444px;
  width:20px;
  height:20px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2258 {
  position:absolute;
  left:615px;
  top:488px;
  width:20px;
  height:20px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2260 {
  position:absolute;
  left:615px;
  top:467px;
  width:20px;
  height:20px;
}
#u2261 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2262 {
  position:absolute;
  left:138px;
  top:79px;
  width:293px;
  height:33px;
  color:#FFFFFF;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
